* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: grid;
  grid-template-columns: 200px 200px;
}

.game-info {
  margin-left: 20px;
}

.history-item {
  border: 1px solid gray;
  padding: 5px;
  margin-bottom: 10px;
}

.history-list ol {
  padding-left: 0;
  min-width: 250px;
}

.history-list li {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid lightgray;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  transition: all ease-in-out 0.3s;
  font-size: 16px;
}

.history-list li:hover {
  background-color: rgb(231, 231, 231);
}

.winning-message {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  flex-direction: column;
  gap: 20px;
}

.winning-message.show {
  display: flex;
}

.square:disabled {
  color: #000000;
  cursor: not-allowed;
}
